.character-list{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.character-card{
  width: 300px;
  height: 300px;
  padding: 20px;
}

.character-card:hover{
  cursor: pointer;
}

.delete {
  background-color: red;
  color: white;
  font-weight: bold;
}